.btnInformation {
  background-color: white;
  color: #46005e;
  margin: 8px;
  border: 1px solid #46005e;
  height: 39px;
  font-size: 0.75rem;
}
.btnInformation:hover {
  background-color: #46005e;
  color: white;
}

.btnSearch {
  background-color: white;
  color: blue;
  margin: 8px;
  border: 1px solid blue;
  height: 39px;
  font-size: 0.75rem;
}
.btnSearch:hover {
  background-color: blue;
  color: white;
}

.btnRefresh {
  background-color: white;
  color: green;
  margin: 8px;
  border: 1px solid green;
  height: 39px;
  font-size: 0.75rem;
}
.btnRefresh:hover {
  background-color: green;
  color: white;
}
